@model Lead2Change.Domain.ViewModels.EditViewModel
@*
    ViewData["Title"] = "College Entrance Exam Information Edit";
*@
@{
}
<div class="container-fluid">
    <div align="center">
        <h1>College Entrance Exam Information</h1>
    </div>
    <form>
        <div class="calibri">

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label asp-for="PACTTestScore" class="control-label">PACT Test Score:</label>
                        <input asp-for="PACTTestScore" class="form-control" value=@Model.PACTTestScore />
                        <span asp-validation-for="PACTTestScore" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="PACTTestDate" class="control-label">PACT Test Date:</label>
                        <input asp-for="PACTTestDate" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" />
                        <span asp-validation-for="PACTTestDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label asp-for="PSATTestScore" class="control-label">PSAT Test Score:</label>
                        <input asp-for="PSATTestScore" class="form-control" value=@Model.PSATTestScore />
                        <span asp-validation-for="PSATTestScore" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="PSATTestDate" class="control-label">PSAT Test Date:</label>
                        <input asp-for="PSATTestDate" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" />
                        <span asp-validation-for="PSATTestDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label asp-for="SATTestScore" class="control-label">SAT Test Score:</label>
                        <input asp-for="SATTestScore" class="form-control" value=@Model.SATTestScore />
                        <span asp-validation-for="SATTestScore" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="SATTestDate" class="control-label">SAT Test Date:</label>
                        <input asp-for="SATTestDate" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" />
                        <span asp-validation-for="SATTestDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label asp-for="ACTTestScore" class="control-label">ACT Test Score:</label>
                        <input asp-for="ACTTestScore" class="form-control" value=@Model.ACTTestScore />
                        <span asp-validation-for="ACTTestScore" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label asp-for="ACTTestDate" class="control-label">PACT Test Date:</label>
                        <input asp-for="ACTTestDate" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" />
                        <span asp-validation-for="ACTTestDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="PrepClassRequired" class="form-check-input me-1" type="checkbox" />
                <label asp-for="PrepClassRequired" class="control-label">I need a prep class.</label>
                <span asp-validation-for="PrepClassRequired" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group hidden" display="none">
            <label asp-for="CoachId" class="control-label"></label>
            <input asp-for="CoachId" class="form-control" value=@Model.CoachId />
        </div>
        <div class="form-group hidden" display="none">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" value=@Model.Id />
        </div>
        <div class="form-group" align="center">
            <input type="submit" value="Submit" class="btn btn-submit" />
        </div>
    </form>
</div>
<div>
    <button class="btn btn-back"><a asp-action="Index">Back to Student List</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
