@model Lead2Change.Domain.ViewModels.RegistrationViewModel
@*
    ViewData["Title"] = "Edit";
*@
@{
}
<h1>Edit</h1>
<form asp-action="UpDate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="StudentFirstName" class="control-label"></label>
        <input asp-for="StudentFirstName" class="form-control" value=@Model.StudentFirstName />
        <span asp-validation-for="StudentFirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StudentLastName" class="control-label"></label>
        <input asp-for="StudentLastName" class="form-control" value=@Model.StudentLastName />
        <span asp-validation-for="StudentLastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StudentDateOfBirth" class="control-label"></label>
        <input asp-for="StudentDateOfBirth" class="form-control" value=@Model.StudentDateOfBirth />
        <span asp-validation-for="StudentDateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StudentAddress" class="control-label"></label>
        <input asp-for="StudentAddress" class="form-control" value=@Model.StudentAddress />
        <span asp-validation-for="StudentAddress" class="text-danger"></span>
    </div>
    <div id="hidden" class="form-group" display="none">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" value=@Model.Id />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
