@model Lead2Change.Domain.ViewModels.EditViewModel
@*
    ViewData["Title"] = "Post-Secondary Information Edit";
*@
@{
}
<div class="container-fluid">
    <div align="center">
        <h1>Post-Secondary Information</h1>
    </div>
    <form>
        <div class="calibri">
            <div class="form-group">
                <label asp-for="PlanAfterHighSchool" class="control-label">Plan After High School:</label>
                <select asp-for="PlanAfterHighSchool" class="form-control" required>
                    <option value="College">College</option>
                    <option value="Trade School">Trade School</option>
                    <option value="Armed Forces">Armed Forces</option>
                    <option value="Work">Work</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="CollegeApplicationStatus" class="form-check-input me-1" type="checkbox" />
                <label asp-for="CollegeApplicationStatus" class="control-label">I have applied to college.</label>
                <span asp-validation-for="CollegeApplicationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollegesList" class="control-label">What schools have you applied to?</label>
                <input asp-for="CollegesList" class="form-control" value=@Model.CollegesList />
                <span asp-validation-for="CollegesList" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <input asp-for="CollegeEssayStatus" class="form-check-input me-1" type="checkbox" />
                    <label asp-for="CollegeEssayStatus" class="control-label">I have begun work on my college essay.</label>
                    <span asp-validation-for="CollegeEssayStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="CollegeEssayHelp" class="form-check-input me-1" type="checkbox" />
                <label asp-for="CollegeEssayHelp" class="control-label">I need help writing my college essay.</label>
                <span asp-validation-for="CollegeEssayHelp" class="text-danger"></span>
            </div>
            <p>Please rank the schools you are interested in applying to:</p>
            <div class="form-group">
                <label asp-for="FirstChoiceCollege" class="control-label">First Choice/Reach School(s):</label>
                <input asp-for="FirstChoiceCollege" class="form-control" value=@Model.FirstChoiceCollege />
                <span asp-validation-for="FirstChoiceCollege" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondChoiceCollege" class="control-label">Second Choice/Middle of the Road School(s):</label>
                <input asp-for="SecondChoiceCollege" class="form-control" value=@Model.SecondChoiceCollege />
                <span asp-validation-for="SecondChoiceCollege" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdChoiceCollege" class="control-label">Third Choice/Safety School(s):</label>
                <input asp-for="ThirdChoiceCollege" class="form-control" value=@Model.ThirdChoiceCollege />
                <span asp-validation-for="ThirdChoiceCollege" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TradeSchoolStatus" class="form-check-input me-1" type="checkbox" />
                <label asp-for="TradeSchoolStatus" class="control-label">I have already applied to a trade school.</label>
                <span asp-validation-for="TradeSchoolStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradeSchoolsList" class="control-label">What schools have you applied to?</label>
                <input asp-for="TradeSchoolsList" class="form-control" value=@Model.TradeSchoolsList />
                <span asp-validation-for="TradeSchoolsList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ArmedForcesStatus" class="form-check-input me-1" />
                <label asp-for="ArmedForcesStatus" class="control-label">I have already applied to the armed forces.</label>
                <span asp-validation-for="ArmedForcesStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArmedForcesBranch" class="control-label">What branch did you apply to?</label>
                <input asp-for="ArmedForcesBranch" class="form-control" value=@Model.ArmedForcesBranch />
                <span asp-validation-for="ArmedForcesBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="WorkStatus" class="form-check-input me-1" type="checkbox" />
                <label asp-for="WorkStatus" class="control-label">I plan to go directly into the workforce after high school.</label>
                <span asp-validation-for="WorkStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareerPathList" class="control-label">What career path(s) are you interested in pursuing?</label>
                <input asp-for="CareerPathList" class="form-control" value=@Model.CareerPathList />
                <span asp-validation-for="CareerPathList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherPlans" class="control-label">What are your plans for after high school?</label>
                <input asp-for="OtherPlans" class="form-control" value=@Model.OtherPlans />
                <span asp-validation-for="OtherPlans" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group hidden" display="none">
            <label asp-for="CoachId" class="control-label"></label>
            <input asp-for="CoachId" class="form-control" value=@Model.CoachId />
        </div>
        <div class="form-group hidden" display="none">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" value=@Model.Id />
        </div>
        <div class="form-group" align="center">
            <input type="submit" value="Submit" class="btn btn-submit" />
        </div>
    </form>
</div>

<div>
    <button class="btn btn-back"><a asp-action="Index">Back to Student List</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}