@model Lead2Change.Domain.ViewModels.EditViewModel
@*
    ViewData["Title"] = "Edit";
*@
@{
}
<div class="container-fluid">
    <div align="center">
        <h1>Signatures</h1>
    </div>
    <form>
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label asp-for="StudentSignature" class="control-label">Student Signature:</label>
                    <input asp-for="StudentSignature" class="form-control" value=@Model.StudentSignature required />
                    <span asp-validation-for="StudentSignature" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="StudentSignatureDate" class="control-label">Date:</label>
                    <input asp-for="StudentSignatureDate" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" required />
                    <span asp-validation-for="StudentSignatureDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label asp-for="ParentSignature" class="control-label">Parent Signature:</label>
                    <input asp-for="ParentSignature" class="form-control" value=@Model.ParentSignature required />
                    <span asp-validation-for="ParentSignature" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="ParentSignatureDate" class="control-label">Date:</label>
                    <input asp-for="ParentSignatureDate" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" required />
                    <span asp-validation-for="ParentSignatureDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Active" class="control-label">Is this student active?</label>
            <input asp-for="Active" class="form-control" type="checkbox" />
            <span asp-validation-for="Active" class="text-danger"></span>
        </div>

        <div class="form-group hidden" display="none">
            <label asp-for="CoachId" class="control-label"></label>
            <input asp-for="CoachId" class="form-control" value=@Model.CoachId />
        </div>
        <div class="form-group hidden" display="none">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" value=@Model.Id />
        </div>
        <div class="form-group" align="center">
            <input type="submit" value="Submit" class="btn btn-submit" />
        </div>
    </form>
</div>

<div>
    <button class="btn btn-back"><a asp-action="Index">Back to Student List</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}