@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div align="center">
    <h2>Thank You For Filling Out the Interest Form</h2>
    <p>You'll recieve a confirmation email soon. You'll be contacted soon regarding your acceptance.</p>
    <a href="https://lead2changeinc.org/">Home Page</a>
</div>