@model Lead2Change.Domain.ViewModels.AssignStudentViewModel

@{
    ViewData["Title"] = "Unassigned Students";
}
<div class="container-fluid">
    <div class="row blueHeader full-width mb-sm-3">
        <div class="col-sm-12">
            <h1 class="text-center"><strong>ASSIGN A STUDENT</strong></h1>
        </div>
    </div>

    <table class="table table-striped shadow-lg pt-2" id="myTable">
        <thead class="blueStyle">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Options</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.UnassignedStudents)

            {
                <tr>
                    <td>
                        @Html.DisplayFor(modeItem => item.StudentLastName), @Html.DisplayFor(modelItem => item.StudentFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentEmail)
                    </td>
                    <td>
                                <button class="btn btn-block orangeBtn" onclick="location.href='@Url.Action("AssignStudent", "Coaches", new { studentId = item.Id, coachId = Model.CurrentCoach.Id })'">Assign Student</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
    <a asp-action="Index">Back to List</a>
    </div>
</div>
