@model Lead2Change.Domain.ViewModels.CoachViewModel;
@*
    ViewData["Title"] = "Edit";
*@
<div align="center">
    <img src="https://lead2changeinc.org/wp-content/uploads/2019/04/BIG-PNG-e1583952815934.png" />
    <h5 id="goalEdit">Edit A Coach</h5>
</div>
<form asp-action="Update" class="calibri">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group, d-none" display="none">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" value=@Model.Id />
    </div>
    <div class="form-group">
        <b><label asp-for="CoachFirstName" class="control-label"></label></b>
        <input asp-for="CoachFirstName" class="form-control" value=@Model.CoachFirstName />
        <span asp-validation-for="CoachFirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <b><label asp-for="CoachLastName" class="control-label"></label></b>
        <input asp-for="CoachLastName" class="form-control" value=@Model.CoachLastName />
        <span asp-validation-for="CoachLastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <b><label asp-for="CoachEmail" class="control-label"></label></b>
        <input asp-for="CoachEmail" class="form-control" value=@Model.CoachEmail/>
        <span asp-validation-for="CoachEmail" class="text-danger"></span>
    </div>
<div class="form-group">
        <b><label asp-for="CoachPhoneNumber" class="control-label"></label></b>
        <input asp-for="CoachPhoneNumber" class="form-control" value=@Model.CoachPhoneNumber />
        <span asp-validation-for="CoachPhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
