@model Lead2Change.Domain.ViewModels.CoachViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Coach Intake Form</h1>
<p>Please enter the corresponding information into the fields below</p>
<hr />

<div container="fluid">
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="CoachFirstName" class="control-label">First Name:</label>
            <input asp-for="CoachFirstName" class="form-control" required />
            <span asp-validation-for="CoachFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CoachLastName" class="control-label">First Name:</label>
            <input asp-for="CoachLastName" class="form-control" required />
            <span asp-validation-for="CoachLastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CoachEmail" class="control-label">Email:</label>
            <input asp-for="CoachEmail" class="form-control" type="email" required />
            <span asp-validation-for="CoachEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CoachPhoneNumber" class="control-label">Email:</label>
            <input asp-for="CoachPhoneNumber" class="form-control" type="email" required />
            <span asp-validation-for="CoachPhoneNumber" class="text-danger"></span>
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>