@model Lead2Change.Domain.ViewModels.CareerDeclarationViewModel
@*
    ViewData["Title"] = "Details";
*@
<h1>Details</h1>
<p>CollegeBound:  @Model.CollegeBound</p>
<p>CareerCluster:  @Model.CareerCluster</p>
<p>SpecificCareer:  @Model.SpecificCareer</p>
<p>TechnicalCollegeBound:  @Model.TechnicalCollegeBound</p>
<div>
    <a asp-action="Index">Back to List</a>
</div>