@using Lead2Change.Web.Ui.Extensions
@model Lead2Change.Domain.ViewModels.CareerDeclarationViewModel;
@*
    ViewData["Title"] = "Edit";
*@
<h1>Edit</h1>
<form asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="hidden" class="form-group" display="none">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" value=@Model.Id />
    </div>
    <div class="form-group">
        <label asp-for="StudentId" class="control-label"></label>
        <input asp-for="StudentId" class="form-control" value=@Model.StudentId />
        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CollegeBound" class="control-label">Are you planning to attend a college?</label>
        <input asp-for="CollegeBound" class="form-control" value=@Model.CollegeBound />
        <span asp-validation-for="CollegeBound" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CareerCluster" class="control-label">What Career cluster are you interested in? </label>
        @Html.DropDownListFor(m => m.CareerCluster, Model.CareerCluster.ToSelectList(), null, new { @class = "form-control" })
        <span asp-validation-for="CareerCluster" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="SpecificCareer" class="control-label">What specific career are you most interested in? </label>
        <input asp-for="SpecificCareer" class="form-label" value=@Model.SpecificCareer>
        <span asp-validation-for="SpecificCareer" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="TechnicalCollegeBound" class="control-label">Are you planning to attend a technical college? </label>
        <input asp-for="TechnicalCollegeBound" class="form-label" value=@Model.TechnicalCollegeBound>
        <span asp-validation-for="TechnicalCollegeBound" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
<div>
    @Html.ActionLink("Back to Details", "Details", "CareerDeclaration", new { id = Model.Id })
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}