@model Lead2Change.Domain.ViewModels.GoalViewModel;
@*
    ViewData["Title"] = "Edit";
*@
<div align="center">
    <img src="https://lead2changeinc.org/wp-content/uploads/2019/04/BIG-PNG-e1583952815934.png" />
    <h5 id="goalEdit">Edit A Goal</h5>
</div>
<form asp-action="Update" class="calibri">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group, d-none" display="none">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" value=@Model.Id />
    </div>
    <div id="hidden" class="form-group, d-none" display="none">
        <label asp-for="StudentId" class="control-label"></label>
        <input asp-for="StudentId" class="form-control" value=@Model.StudentId />
    </div>
    <div class="form-group">
        <b><label asp-for="GoalSet" class="control-label"></label></b>
        <input asp-for="GoalSet" class="form-control" value=@Model.GoalSet />
        <span asp-validation-for="GoalSet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <b><label asp-for="DateGoalSet" class="control-label"></label></b>
        <input asp-for="DateGoalSet" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" />
        <span asp-validation-for="DateGoalSet" class="text-danger"></span>
    </div>
        <div class="form-group">
            <b><label asp-for="SEL" class="control-label"></label></b>
            <div class="list-group">
                <label class="list-group-item" style="border: none">
                    <input class="form-check-input me-1" name="SEL" type="checkbox" value="Self-Awareness" /> Self-Awareness - What assets do you bring to a team environment?
                </label>
                <label class="list-group-item" style="border: none">
                    <input class="form-check-input me-1" name="SEL" type="checkbox" value="Self-Management" /> Self-Management - When your class is discussing a topic and you disagree with someone else, what are your reactions?
                </label>
                <label class="list-group-item" style="border: none">
                    <input class="form-check-input me-1" name="SEL" type="checkbox" value="Social-Awareness" /> Social-Awareness - What is the single problem affecting the people of your community the most? How do you know?
                </label>
                <label class="list-group-item" style="border: none">
                    <input class="form-check-input me-1" name="SEL" type="checkbox" value="Relationship-Skills" /> Relationship-Skills - What are some examples of productive and effective relationships while working in a team?
                </label>
                <label class="list-group-item" style="border: none">
                    <input class="form-check-input me-1" name="SEL" type="checkbox" value="Responsible Decision-Making" /> Responsible Decision-Making - If you had a million dollars to address a problem/need within our community, what would you do? Who would you think about first?
                </label>
            </div>
        </div>
        <div class="container-fluid, form-group">
            <div class="row">
                <div class="form-group, col-sm-6">
                    <b><label asp-for="GoalReviewDate" class="control-label"></label></b>
                    <input asp-for="GoalReviewDate" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" />
                    <span asp-validation-for="GoalReviewDate" class="text-danger"></span>
                </div>
                <div class="form-group, col-sm-6">
                    <b><label asp-for="WasItAccomplished" class="control-label"></label></b>
                    <select asp-for="WasItAccomplished" class="form-control">
                        <option selected>Select A Choice</option>
                        <option value="No">No</option>
                        <option value="In Progress">This goal remains in progress.</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
            </div>
        </div>
    <div class="form-group, shipping">
        <b><label asp-for="Explanation" class="control-label"></label></b>
        <textarea asp-for="Explanation" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <span asp-validation-for="Explanation" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-submit" />
    </div>
</form>
<div align="center">
    <button class="btn btn-back"><a asp-action="Index" asp-route-studentID=@Model.StudentId>Back to List</a></button>
</div>
       
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
