@model Lead2Change.Domain.ViewModels.GoalViewModel
@*
    ViewData["Title"] = "Edit";
*@
<div align="center">
    <img src="~/Images/DreamExploreBuildLogo.png" />
</div>
<div class="row orangeHeader full-width mb-sm-3">
    <div class="col-sm-12">
        <h1 class="text-center"><strong>EDIT GOAL</strong></h1>
    </div>
</div>
<form asp-action="Update" class="calibri">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group, d-none" display="none">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" value=@Model.Id />
    </div>
    <div id="hidden" class="form-group, d-none" display="none">
        <label asp-for="StudentId" class="control-label"></label>
        <input asp-for="StudentId" class="form-control" value=@Model.StudentId />
    </div>
    <div class="form-group">
        <b><label asp-for="GoalSet" class="control-label"></label></b>
        <input asp-for="GoalSet" class="form-control" value=@Model.GoalSet />
        <span asp-validation-for="GoalSet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <b><label asp-for="DateGoalSet" class="control-label"></label></b>
        <input asp-for="DateGoalSet" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" />
        <span asp-validation-for="DateGoalSet" class="text-danger"></span>
    </div>
        <div class="form-group">
            <b><label asp-for="SEL" class="control-label"></label></b>
            <div class="list-group">
             
              
                @if (Model.SEL.Contains("Self-Awareness") || Model.SEL.Contains(" Self-Awareness"))
                {
                    <label class="list-group-item offWhiteBackground" style="border: none">
                        <input class="form-check-input me-1" name="SEL" type="checkbox" value="Self-Awareness" required checked /> Self-Awareness - What assets do you bring to a team environment?
                    </label>
                }
                else
                {
                    <label class="list-group-item offWhiteBackground" style="border: none">
                        <input class="form-check-input me-1" name="SEL" type="checkbox" value="Self-Awareness" required /> Self-Awareness - What assets do you bring to a team environment?
                    </label>
                }

                @if (Model.SEL.Contains("Self-Management") || Model.SEL.Contains(" Self-Management"))
                {
                    <label class="list-group-item offWhiteBackground" style="border: none">
                        <input class="form-check-input me-1" name="SEL" type="checkbox" value="Self-Management" checked /> Self-Management - When your class is discussing a topic and you disagree with someone else, what are your reactions?
                    </label>
                }
                else
                {
                    <label class="list-group-item offWhiteBackground" style="border: none">
                        <input class="form-check-input me-1" name="SEL" type="checkbox" value="Self-Management" /> Self-Management - When your class is discussing a topic and you disagree with someone else, what are your reactions?
                    </label>
                }

                @if (Model.SEL.Contains("Social-Awareness") || Model.SEL.Contains(" Social-Awareness"))
                {
                    <label class="list-group-item offWhiteBackground" style="border: none">
                        <input class="form-check-input me-1" name="SEL" type="checkbox" value="Social-Awareness" checked /> Social-Awareness - What is the single problem affecting the people of your community the most? How do you know?
                    </label>
                }
                else
                {
                    <label class="list-group-item offWhiteBackground" style="border: none">
                        <input class="form-check-input me-1" name="SEL" type="checkbox" value="Social-Awareness" /> Social-Awareness - What is the single problem affecting the people of your community the most? How do you know?
                    </label>
                }
                @if (Model.SEL.Contains("Relationship-Skills") || Model.SEL.Contains(" Relationship-Skills"))
                {
                    <label class="list-group-item offWhiteBackground" style="border: none">
                        <input class="form-check-input me-1" name="SEL" type="checkbox" value="Relationship-Skills" checked /> Relationship-Skills - What are some examples of productive and effective relationships while working in a team?
                    </label>
                }
                else
                {
                    <label class="list-group-item offWhiteBackground" style="border: none">
                        <input class="form-check-input me-1" name="SEL" type="checkbox" value="Relationship-Skills" /> Relationship-Skills - What are some examples of productive and effective relationships while working in a team?
                    </label>
                }
                @if (Model.SEL.Contains("Responsible Decision-Making") || Model.SEL.Contains(" Responsible Decision-Making"))
                {
                <label class="list-group-item offWhiteBackground" style="border: none">
                    <input class="form-check-input me-1" name="SEL" type="checkbox" value="Responsible Decision-Making" checked /> Responsible Decision-Making - If you had a million dollars to address a problem/need within our community, what would you do? Who would you think about first?
                </label>
                }
                else
                {
                <label class="list-group-item offWhiteBackground" style="border: none">
                    <input class="form-check-input me-1" name="SEL" type="checkbox" value="Responsible Decision-Making" /> Responsible Decision-Making - If you had a million dollars to address a problem/need within our community, what would you do? Who would you think about first?
                </label>
                }
                <span asp-validation-for="SEL" class="text-danger"></span>

            </div>
              
            <span asp-validation-for="SEL" class="text-danger"></span>
        </div>
        <div class="container-fluid, form-group">
            <div class="row">
                <div class="form-group, col-sm-6">
                    <b><label asp-for="GoalReviewDate" class="control-label"></label></b>
                    <input asp-for="GoalReviewDate" class="form-control" data-date-format="MM-dd-yyyy" type="date" placeholder="MM-dd-yyyy" />
                    <span asp-validation-for="GoalReviewDate" class="text-danger"></span>
                </div>
                <div class="form-group, col-sm-6">
                    <b><label asp-for="WasItAccomplished" class="control-label"></label></b>
                    <select asp-for="WasItAccomplished" class="form-control" required>
                        <option disabled selected>Select A Choice</option>
                        <option value="No">No</option>
                        <option value="In Progress">This goal remains in progress</option>
                        <option value="Yes">Yes</option>
                    </select>
                    <span asp-validation-for="WasItAccomplished" class="text-danger"></span>
                </div>
            </div>
        </div>
    <div class="form-group, shipping">
        <b><label asp-for="Explanation" class="control-label"></label></b>
        <textarea asp-for="Explanation" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <span asp-validation-for="Explanation" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-submit" onclick="var e = this; setTimeout(function () { e.disabled = true; e.value = 'Submitting…';},0);return true;" />
    </div>
</form>
<div align="center">
    <input type="button" class="btn btn-outline-dark " value="Back to Goals" onclick="location.href = '@Url.Action("Index", "Goals", new { studentId = @Model.StudentId })'; this.disabled = true;" />
</div>
       
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
