@model List<Lead2Change.Domain.ViewModels.AnswersViewModel>
@*
    ViewData["Title"] = "Index";
*@

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="GoalHeadingFont"><strong>Answers</strong></h2>
        </div>
    </div>
    <table class="table table-striped pt-2">
        <thead class="thead blueStyle">
            <tr>
                <th>
                    Answer
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnswerString)
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Edit" onclick="location.href='@Url.Action("Edit","Answer", new { id = item.Id })'" />

                        </div>
                    </div>
                  

                
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn btn-block orangeBtn" value="Delete" onclick="location.href='@Url.Action("Delete","Answer", new { id = item.Id })'" />

                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>

    <div class="row">
        <div class="col-sm-12 pb-sm-2">
            <input type="button" class="btn btn-primary" value="Create an Answer" onclick="location.href='@Url.Action("Create","Answer")'" />
        </div>
    </div>
</div>