@using Lead2Change.Domain.Constants
@model List<Lead2Change.Domain.Models.AspNetUsers>
@*
    ViewData["Title"] = "Index";
*@

<div class="container">
    <div class="row blueHeader full-width mb-sm-3">
        <div class="col-sm-12">
            <h1 class="text-center"><strong>ADMINISTRATORS</strong></h1>
        </div>
    </div>

    <table class="table table-striped pt-2" id="myTable">
        <thead>
            <tr>
                <th scope="col">Userame</th>

                <th scope="col">Email</th>

            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            <div>

                                <div>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </div>

                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    <div>
        <a asp-area="Identity" asp-page="/Account/RegisterAdmin"><b>Register New Admin</b></a>
    </div>
</div>