/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.PaddingForAdam {
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
}

#GoalCreateHeading{

    font-family: Gotham;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
    url('fonts/Gotham-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
    url('fonts/Gotham-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
    url('fonts/Gotham-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: normal;
}

.calibri{
    font-family: Calibri;
}
