/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #004cbb;
    border-color: #0043a6;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #0043a6;
        border-color: #0043a6; /*set the color you want here*/
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #004cbb;
    border-color: #0043a6;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Goal Create Page Below*/


.GoalHeadingFont {
    font-family: Gotham;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
    url('fonts/Gotham-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
    url('fonts/Gotham-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
    url('fonts/Gotham-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: normal;
}

.calibri {
    font-family: Calibri;
}

/* Basic Styling for Goal Index Page */
thead.blueStyle {
    background-color: #004cbb;
    color: white;
}

.orangeBtn {
    background-color: #ff7c00;
    color: white;
}

    .orangeBtn:hover, .open > .dropdown-toggle.orangeBtn {
        background-color: #c77c30;
        border-color: #ff7c00;
        color: white;
    }

    .orangeBtn:active, orangeBtn.active {
        background-color: #c77c30;
        border-color: #ff7c00;
        color: white;
    }

.btn-submit {
    color: #fff;
    background-color: #ff7c00;
    border-color: #ff7c00;
}

#goalEdit {
    font-family: Gotham;
    color: #ff7c00;
}
#QuestionTextInput{
    height:8em;
}


.hidden {
    display: none;
}
.fixedTable {
    table-layout: fixed;
    word-wrap: break-word;
}
.blueHeader {
    background-color: #004cbb;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}
.orangeHeader {
    background-color: #ff7c00;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
#navbarLogo{
    width: 50%;
    height: auto;
    display:block;
}

/*Searchbar Styling*/
.searchbar {
    width: 100%;
    max-width: 300px;
    display: inline-flex;
}

.searchbar__input {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid #0071BB;
    border-radius: 5px 0 0 5px;
    background: #f4faf9;
    transition: background 0.25s, box-shadow 0.25s;
}

.searchbar__input:focus {
        background: white;
        box-shadow: 0 0 2px #004cbb;
}

.searchbar__input::placeholder {
        color: #004cbb;
}

.searchbar__button {
    width: 40px;
    background: #0071BB;
    color: #ffffff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
}

.searchbar__button:active {
        box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}