@model List<Lead2Change.Domain.Models.Question>
@*
    ViewData["Title"] = "ArchivedQuestions";
*@
<h1>Archived Questions</h1>
<div class="container-fluid pr-sm-4 pl-sm-4">
    <table class="table table-striped pt-2">
        <thead class="thead blueStyle">
            <tr>
                <th class="col-9">    
                    Questions
                </th>               
                <th class="col-3">
                    Options
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>                    
                <td>                    
                    @Html.DisplayFor(modelItem => item.QuestionString)                    
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Edit" onclick="location.href='@Url.Action("ArchiveEdit","Questions", new { id = item.Id })'" />

                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Archive" onclick="location.href='@Url.Action("PermanentDelete","Questions", new { id = item.Id })'" />
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>

    <div align="center">
        <button class="btn btn-back"><a asp-action="Index">Back to List</a></button>
    </div>
</div>