@model List<Lead2Change.Domain.Models.Question>
@*
    ViewData["Title"] = "ArchivedQuestions";
*@

<div class="container-fluid pr-sm-4 pl-sm-4">
    <div class="row blueHeader full-width mb-sm-3">
        <div class="col-sm-12">
            <h1 class="text-center"><strong>ARCHIVED QUESTIONS</strong></h1>
        </div>
    </div>
    <table class="table table-striped shadow-lg pt-2">
        <thead class="thead blueStyle">
            <tr>
                <th class="col-9">
                    Questions
                </th>
                <th class="col-3">
                    Options
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionString)
                </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Edit" onclick="location.href = '@Url.Action("ArchiveEdit", "Questions", new { id = item.Id })'; this.disabled = true;" />

                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-sm-12">
                                <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Permanently Delete" onclick="location.href = '@Url.Action("PermanentDelete", "Questions", new { id = item.Id })'; this.disabled = true; this.value='Deleting…'" />
                            </div>
                        </div>
                    </td>
            </tr>
        }
    </table>

    <div align="center">
        <button class="btn btn-outline-dark" onclick="location.href = '@Url.Action("Index","Questions")'; this.disabled = true;">Back To List</button>
    </div>
</div>