@model List<Lead2Change.Domain.Models.Question>
@*
    ViewData["Title"] = "Index";
*@
<div class="container-fluid  pr-sm-4 pl-sm-4">
    <table class="table table-striped pt-2">
        <thead class="thead blueStyle">
            <tr>               
                <th class="col-8">
                    Questions
                </th>
                <th class="col-4">
                    Options
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>               
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionString)
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Edit" onclick="location.href='@Url.Action("Edit","Questions", new { id = item.Id })'" />

                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Archive" onclick="location.href='@Url.Action("Delete","Questions", new { id = item.Id })'" />
                        </div>
                    </div>                   
                </td>
            </tr>
        }
    </table>

    <div>
        <a asp-action="Create">Create a Question.</a>
    </div>
    <div>
        <a asp-action="ArchivedQuestions">Visit Archive</a>
    </div>
</div>